body{ font-family: 'Ubuntu', sans-serif; }
h1, h2, h3, h4 { font-family: 'Oswald', sans-serif; }
h1.title { font-family: 'Leckerli One', cursive; }
h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
