body{ font-family: 'Ubuntu', sans-serif; }
h1, h2, h3, h4 { font-family: 'Oswald', sans-serif; margin: 0; }
h1.title { font-family: 'Leckerli One', cursive; }
h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }

.header-container, .main-container, .footer-container { border: 0; }
.wrapper { outline: 2px solid green; margin: 0 auto; width: 1400px; padding: 0 1em; }

.header-container { 
  background-image: -moz-linear-gradient(center top , rgba(59, 59, 59, 0.9), rgba(38, 38, 38, 0.9));
  height: 60px;
  color: white;
}

.footer-container {
  background-color: #026873;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
  color: white;
  min-height: 300px;
}
