body{ font-family: 'Ubuntu', sans-serif; }
h1, h2, h3, h4 { font-family: 'Oswald', sans-serif; margin: 0; }
h1.title { font-family: 'Leckerli One', cursive; }
h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }

.header-container, .main-container, .footer-container { border: 0; }
.wrapper { outline: 2px solid green; margin: 0 auto; width: 1400px; }

.header-container { 
  background-image: -moz-linear-gradient(center top , rgba(59, 59, 59, 0.9), rgba(38, 38, 38, 0.9));
  height: 60px;
  color: white;
}

.footer-container {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  color: white;
}
